# Hugo
/.hugo_build.lock
/public/

# Node.js
/node_modules/

# System (macOS)
.DS_Store

# Vale
# https://vale.sh/docs/topics/packages/#packages-and-vcs
vale/styles/*
!vale/styles/config/

vale/styles/config/*
!vale/styles/config/vocabularies/

vale/styles/config/vocabularies/*
!vale/styles/config/vocabularies/Base

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
